{% include base_path %}

<!-- Site typography and identity -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap" rel="stylesheet">
<link rel="icon" type="image/png" href="{{ base_path }}/images/site-logo.png">
<link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.css">
<meta name="theme-color" content="#6f2436">
